<!DOCTYPE html>
<html>
<head>
<title>Product</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="/static/js/jquery-1.11.0.min.js"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--start-menu-->
<script src="/static/js/simpleCart.min.js"> </script>
<link href="/static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src="/static/js/jquery.easydropdown.js"></script>			
</head>
<body> 

	<!--top-header-->
	<!--start-logo-->
	<div class="logo">
		<a href="index.html"><h1>Sushi Food</h1></a>
	</div>
	<!--start-logo-->
	<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue"><li class="active"><a href="index.html">Home</a></li>
						<li class="grid"><a href="#">Menu</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4></h4>
										<ul>
											<li><a href="product1.html">Appetizers</a></li>
											<li><a href="product2.html">Side orders</a></li>
											<li><a href="product4.html">Sushi</a></li>
											<li><a href="product5.html">Roll</a></li>
											<li><a href="product7.html">Soft drinks</a></li>
											<li><a href="product8.html">Salad</a></li>
										</ul>
									</div>
									
								</div>
							</div>
						</li>
						
						
						
						
						<li class="grid"><a href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--bottom-header-->

	{% for result in resultlist %}

	<!--prdt-starts-->
	<div class="prdt"> 
		<div class="container">
			<div class="prdt-top">
				<div class="col-md-12 prdt-left">
					<div class="product-one">
						<div class="col-md-12 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="/static/images/{{result.getPath}}" alt="" /></a>
								
								
								<div class="product-bottom">
									<h3>{{result.getName}}</h3>
									<p>Explore Now</p>
									<span class=" item_price">${{result.getPrice}}</span></h4>
								</div>
								<div class="srch srch1">
									<span>-50%</span>
								</div>
								
								{% endfor %}
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					

				</div>	
				<div class="col-md-12 prdt-right" align="middle">
					<h2>Appetizers</h2>
					<hr style="border-style: solid; border-width: 3px; color:red;">
					<div class="col-md-9 prdt-left" align="left">
						<strong><font size=5>Name</font></strong>
					</div>
					<div class="col-md-3 prdt-right" align="right">
						<strong><font size=5>Price</font></strong>
					</div>
					<div class="col-md-9 prdt-left" align="left">
					<strong><font size=4>Sashimi</font></strong><br>
					<font size=3>assorted raw fish 9pc</font><br>
				</div>
					<div class="col-md-3 prdt-right" align="right">
						<strong><font size=5>$10</font></strong><br>
				</div>
				<div class="col-md-9 prdt-left" align="left">
					<strong><font size=4>Tempura</font></strong><br>
					<font size=3>Shrimp(2pc)&vegetables battered and fried</font><br>
				</div>
					<div class="col-md-3 prdt-right" align="right">
						<strong><font size=5>$12</font></strong><br>
				</div>
				<div class="col-md-9 prdt-left" align="left">
					<strong><font size=4>Baked Mussels(6pc)</font></strong><br>
					<font size=3>Mussels topped with sauce and baked</font><br>
				</div>
					<div class="col-md-3 prdt-right" align="right">
						<strong><font size=5>$11</font></strong><br>
				</div>
				<div class="col-md-9 prdt-left" align="left">
					<strong><font size=4>..</font></strong><br>
					<font size=3>... ...</font><br>
				</div>
					<div class="col-md-3 prdt-right" align="right">
						<strong><font size=5>..</font></strong><br>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--product-end-->
	<!--information-starts-->
	<div class="information">
		<div class="container">
			<div class="infor-top">
				<div class="col-md-3 infor-left">
					<h3>Follow Us</h3>
					<ul>
						<li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
						<li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
						<li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Information</h3>
					<ul>
						<li><a href="#"><p>New Products</p></a></li>
						<li><a href="#"><p>Our Stores</p></a></li>
						<li><a href="contact.html"><p>Contact Us</p></a></li>
						<li><a href="#"><p>Top Sellers</p></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>My Account</h3>
					<ul>
						<li><a href="account.html"><p>My Account</p></a></li>
						<li><a href="#"><p>My Credit slips</p></a></li>
						<li><a href="#"><p>My Merchandise returns</p></a></li>
						<li><a href="#"><p>My Personal info</p></a></li>
						<li><a href="#"><p>My Addresses</p></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Store Information</h3>
					<h4>The company name,
						<span>Lorem ipsum dolor,</span>
						Glasglow Dr 40 Fe 72.</h4>
					<h5>+955 123 4567</h5>	
					<p><a href="mailto:example@email.com">contact@example.com</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--information-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					<form>
						
					</form>
				</div>
				<div class="col-md-6 footer-right">					
					<p>Copyright &copy; 2015.Zbestpayment All rights reserved.<a target="_blank" href="http://http://www.zbestpayment.com/">abc</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->	
</body>
</html>